# Build Artifacts
**/target/
**/node_modules/
**/.next/
**/dist/
**/out/

# Environment Variables & Secrets
**/.env
**/.env.local
**/.env.*.local

# IDE & Editor files
.idea/
.vscode/
*.swp
*.cls

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
